/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (width > 576px) {
    .air-mag {
        padding-bottom: 93px;
    }

    .air-mag__title {
    margin-bottom: 10px;
    }
}

@media (width <= 576px) {
    .air-mag {
        padding-bottom: 80px;
    }

    .air-mag__title {
    margin-bottom: 13px;
    }
}

.air-mag__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 13px;
}

.air-mag__description::before {
    content: "";
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 131px;
    height: 39px;
    background-image: url("../../icons/rectangle-decor-icon.svg");
    -webkit-transform: translateX(-13px);
        -ms-transform: translateX(-13px);
            transform: translateX(-13px);
}

@media (width > 768px) {
    .air-mag__description {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 20px;
    }
}


@media (width <= 768px) {
    .air-mag__description {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 15px;
    }
}

.air-mag__info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (width > 992px) {
    .air-mag__info-wrapper {
        gap: 40px;
    }
}

@media (width <= 992px) {
    .air-mag__info-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.air-mag__img {
    width: 100%;
}

.air-mag__info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@media (width > 992px) {
    .air-mag__info-list {
        -ms-flex-negative: 0;
            flex-shrink: 0;
        gap: 40px;
        max-width: 293px;
        -webkit-transform: translateY(77px);
            -ms-transform: translateY(77px);
                transform: translateY(77px);
    }
}

@media (width <= 992px) {
    .air-mag__info-list {
        gap: 20px;
        max-width: 701px;
    }
}

.air-mag__info-item::before {
    content: "";
    display: block;
    width: 45px;
    height: 33px;
    margin-bottom: 5px;
    background-image: url("../../icons/double-checkbox-icon.svg");
    -webkit-transform: translateX(-8px);
        -ms-transform: translateX(-8px);
            transform: translateX(-8px);
}